<div class="col-xs-4">
    <button id="navbar-home" type="button" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
</div>
<div class="col-xs-4">
    <button id="delete" type="button" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
</div>
<div class="col-xs-4">
    <button id="edit" type="button" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
</div>