<div class="col-xs-3">
    <button id="page-item-list" type="button" class="btn btn-default  nav-btn btn-block">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    </button>
</div>
<div class="col-xs-3">
    <button id="page-home" type="button" class="btn btn-default nav-btn  btn-block">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </button>
</div>
<div class="col-xs-3">
    <button id="page-config" type="button" class="btn btn-default nav-btn  btn-block">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
</div>
<div class="col-xs-3">
    <button id="page-item-add" type="button" class="btn btn-default nav-btn  btn-block">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>