<div class="col-xs-3">
    <button id="page-item-list" type="button" class="btn btn-default btn-block">
        <i class="fa fa-list fa-2x"></i>
    </button>
</div>
<div class="col-xs-3">
    <button id="page-home" type="button" class="btn btn-default btn-block">
        <i class="fa fa-home fa-2x"></i>
    </button>
</div>
<div class="col-xs-3">
    <button id="page-config" type="button" class="btn btn-default btn-block">
        <i class="fa fa-cog fa-2x"></i>
    </button>
</div>
<div class="col-xs-3">
    <button id="page-item-add" type="button" class="btn btn-default btn-block">
        <i class="fa fa-plus fa-2x"></i>
    </button>
</div>