<div class="container voffset4">
    <label>Common Settings</label>
    <hr class="main"/>
    <div class="list-group">
        <button id="category-config" class="btn btn-default btn-block list-group-item">
            <h4 class="list-group-item-heading text-left">Category</h4>
            <p class="list-group-item-text text-left" style="text-transform: none">
                Set names or colors.
            </p>
        </button>        
    </div>
    <label>Others</label>
    <hr class="main" />
    <div class="list-group">
        <button id="about" class="btn btn-default btn-block list-group-item">
            <h4 class="list-group-item-heading text-left">About</h4>
            <p class="list-group-item-text text-left" style="text-transform: none">
                About the app and the author.
            </p>
        </button>
    </div>
</div>