<div class="container voffset4">
    <label>Common Settings</label>
    <hr class="main"/>
    <div class="list-group">
        <button id="category-config" class="btn btn-default btn-block list-group-item">
            <h4 class="list-group-item-heading text-left">Category</h4>
            <p class="list-group-item-text text-left text-lowercase">
                Set names or colors.
            </p>
        </button>
        <hr class="sub"/>
        <button class="btn btn-default btn-block list-group-item">
            <h4 class="list-group-item-heading">Not Added</h4>
            <p class="list-group-item-text text-left text-lowercase">
                Under construction.
            </p>
        </button>
    </div>
</div>