<div class="container voffset4">
    <label>Author</label>
    <hr class="main"/>
    <h5>
        李政遠 Zheng Yuan Lee<br />
        https://github.com/Sharknevercries
    </h5>
    <label>Used Library or Framework</label>
    <hr class="main" />
    <h5>
        Bootstrap<br />
        https://github.com/twbs/bootstrap    <br />
        
    </h5>
    <h5>
        Bootstrap-material-design   <br />
        https://github.com/FezVrasta/bootstrap-material-design  <br />
    </h5>
    <h5>
        Font-Awesome    <br />
        https://github.com/FortAwesome/Font-Awesome <br />
    </h5>
    <h5>
        Dexie.js    <br />
        https://github.com/dfahlander/Dexie.js <br />
    </h5>
</div>