<div class="container-fluid">
    <form class="form-horizontal">
        <div class="form-group has-feedback">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" />
        </div>
        <div class="form-group">
            <label for="color">Color</label>
            <select id="color" class="form-control" >
                <option value="red">Red</option>
                <option value="pink">Pink</option>
                <option value="purple">Purple</option>
                <option value="deep-purple">Deep purple</option>
                <option value="indigo">Indigo</option>
                <option value="blue">Blue</option>
                <option value="light-blue">Light blue</option>
                <option value="cyan">Cyan</option>
                <option value="teal">Teal</option>
                <option value="green">Green</option>
                <option value="light-green">Light green</option>
                <option value="lime">Lime</option>
                <option value="yellow">Yellow</option>
                <option value="amber">Amber</option>
                <option value="orange">Orange</option>
                <option value="deep-orange">Deep orange</option>
                <option value="brown">Brown</option>
                <option value="grey">Grey</option>
                <option value="blue-grey">Blue grey</option>
            </select>
        </div>
        <input type="number" id="id" hidden="hidden" />
    </form>
</div>